.ui.vertical.menu(ng-controller="NavbarCtrl")
	a.blue.item(ui-sref=".champions" ng-class="{active: isActive('/champions')}") Heroes
	a.green.item(ui-sref=".backpacks" ng-class="{active: isActive('/backpacks')}") Backpacks
	a.red.item(ui-sref=".build" ng-class="{active: isActive('/build')}") Build {{selectedHero()}} {{selectedBackpack()}}
