.ui.vertical.menu(ng-controller="NavbarCtrl")
	a.teal.item(ui-sref=".champions" ng-class="{active: isActive('/champions')}") Champions
	a.teal.item(ui-sref=".champions.backpacks" ng-class="{active: isActive('/backpacks')}") Backpacks
