
// Begin main styling

div.thirteen.wide.column.mainview
    padding 0.1 !important
div.three.wide.column.navbar
    padding 0 !important

div.ui.vertical.menu
    position fixed !important
    left: 0px
    right: 0px
    width: inherit
